/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes in {
  from {
    translate: -100%;
  }
  to {
    translate: 0;
  }
}

@keyframes out {
  from {
    translate: 0;
  }
  to {
    translate: -100%;
  }
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: "wght"(var(--main-text-weight));
  background-image: var(--background);
  background-attachment:fixed;
  background-size: cover;
}

.header {
  background-size: cover;
  box-sizing: border-box;
  font-size: clamp(49px, 7vw, 64px);
}

.header-title {
  font-family: var(--accent-font);
  border: 2px solid #000;
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: clamp(120px, 2.3em, 130px);
  padding-bottom: 105px;
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
  line-height: 1em;
}

.header-title-strong {
  font-size: clamp(49px, 7vw, 64px);
}

.header-title-weak {
  font-size: clamp(14px, 2.5vw, 23px);
  text-transform: uppercase;
}

.content {
  margin-inline: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 51px;
  margin-bottom: 100px;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
  max-width: 700px;
  margin-inline: auto;
}

.card-title {
  font-weight: var(--card-titele-weight);
  font-size: var(--card-titele-size);
  padding: 5px 10px;
  border-bottom: 2px solid #000;
}

.card-picture {
  display: flex;
  position: relative;
  outline: 2px solid #000;
}

.card-picture-img {
  inline-size: 100%;
  block-size: 100%;
  background-size: cover;
  background-position: center;
}

.card-picture-teg {
  position: absolute;
  z-index: 2;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  inset-inline-end: clamp(11px, 2vw, 20px);
  padding-top: 26px;
  mix-blend-mode:hard-light;
  text-shadow:
    1px 0 var(--main-color), 
   0 1px var(--main-color), 
   1px 0 var(--main-color), 
   0 -1px var(--main-color);
}

@supports((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card-picture-teg {
        -webkit-text-stroke: 1px var(--main-color);
        text-stroke: 1px var(--main-color);
        text-shadow: none;
    }
} 

.card-text {
  padding: 26px 25px 0 25px;
  font-size: var(--card-text-size);
}

.card-interaction {
  display: flex;
  justify-content: end;
  margin: 25px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 35px;
  margin-block-start: 5px;
  margin-right: 10px;
  padding: 1px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.card__like-button {
  padding: 10px 35px;
  margin-block-start: 5px;
}

.button {
  background-color: #fff;
  border: none;
  outline: 2px solid #000;
  font-family: var(--accent-font);
  font-size: 14px;
  transition: box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

.button:focus-visible {
  box-shadow: 4px 4px 0 var(--accent-color);
}

.button::before {
  content: '';
  background-color: var(--accent-color);
  position: absolute;
  inset: 0;
  transition: 0.5s;
  animation-name: out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.button:hover::before  {
  animation-name: in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

.content-button {
  inline-size: clamp(306px, 80%, 335px);
  margin-inline: auto;
}

.button__text {
  position: relative;
  z-index: 2;
  font-family: var(--accent-font);
  transition: 0.5s;
  font-size: 14px;
  margin-block: 10px;
}

.button:hover .button__text {
  color: var(--main-color);
  transition: 0.5s;
  background-blend-mode:difference;
}

.dialog-button-img {
  position: relative;
  z-index: 2;
  transition: 0.5s;
  inline-size: 28px;
  background-size: contain;
  margin-block-start: 15px;
}

.button:hover svg {
  filter: invert(100%);
  transition: 0.5s;
  background-blend-mode:difference;
}

.sparks {
  opacity: 0;
}

.dialog-img {
inline-size: 100px;
}

.dialog {
 inline-size: 341px;
 block-size: 191px;
 padding: 25px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
} 

.dialog[open] .dialog-info {
  display: flex;
  gap: 10px;
}

.dialog-text {
  grid-column-start: 2;
  font-family: var(--accent-font);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.8em;
}

.dialog-button {
  inline-size: 100%;
  margin-block-start: 20px;
}

@media (width < 375px) {
  .header-title-strong {
    font-size: 40px;
  }
  
  .dialog-text {
    font-size: 12px;
  }
}

.filter-brightness-blur {
  filter: brightness(80%) blur(1.5px);
}

.filter-contrast {
  filter: contrast(1.4)
}

.filter-blur {
  filter: blur(1.7px)
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-hue-rotate {
  filter: hue-rotate(320deg);
}

.filter-sepia {
  filter: sepia(40%);
}

@media (width > 700px) {
  .content-button {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  .dialog-button-img {
    margin-block-start: 0;
    inline-size: 21px;
  }
}