/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, "Inter", sans-serif);
  font-variation-settings: "wght" (var(--main-text-weight, 400));
  background-image: var(--background);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  background-size: cover;
  box-sizing: border-box;
  font-size: clamp(49px, 7vw, 64px);
}

.header-title {
  font-family: var(--accent-font, "PressStert2P", sans-serif);
  border: 2px solid #000;
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: clamp(120px, 2.3em, 130px);
  padding-bottom: 100px;
  text-align: center;
  max-width: 700px;
  margin-inline: auto;
  line-height: 1.05em;
}

.header-title-strong {
  font-size: clamp(49px, 7vw, 64px);
  text-decoration: none;
}

.header-title-weak {
  font-size: clamp(14px, 2.5vw, 23px);
  text-transform: uppercase;
}

.content {
  margin-inline: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 100px;
}

.card {
  border: 2px solid #000;
  background-color: #fff;
  max-width: 700px;
  margin-inline: auto;
}

.card-title {
  font-variation-settings: "wght" (var(--card-titele-weight, 700));
  font-size: var(--card-titele-size, 18px);
  padding: 5px 10px;
  border-bottom: 2px solid #000;
}

.card-picture {
  display: flex;
  position: relative;
  outline: 2px solid #000;
  margin-bottom: 30px;
}

.card-picture-img {
  inline-size: 100%;
  block-size: 100%;
  background-size: cover;
  background-position: center;
}

.card-picture-teg {
  position: absolute;
  z-index: 2;
  color: rgb(0, 0, 0);
  opacity: 0.5;
  font-family: var(--accent-font, "PressStert2P", sans-serif);
  font-size: 14px;
  inset-inline-end: clamp(11px, 2vw, 20px);
  padding-top: 26px;
  mix-blend-mode: hard-light;
  text-shadow: 1px 0 var(--main-color, #fff), 0 1px var(--main-color, #fff), 1px 0 var(--main-color, #fff), 0 -1px var(--main-color, #fff);
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card-picture-teg {
      -webkit-text-stroke: 1px var(--main-color, #fff);
      text-stroke: 1px var(--main-color, #fff);
      text-shadow: none;
  }
}

.card-text {
  padding: 0 25px 25px 25px;
  font-size: var(--card-text-size, 18px);
  line-height: 1.17;
}

.card-interaction {
  display: flex;
  justify-content: end;
  align-self: center;
  padding: 1px 25px 24px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  margin-right: 8px;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
}

.card__like-button {
  padding-block: 10px;
  width: 130px;
}

.button {
  background-color: #fff;
  border: 2px solid #000;
  font-family: var(--accent-font, "PressStert2P", sans-serif);
  font-size: 14px;
  transition: box-shadow 0.2s;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  background-color: var(--accent-color, #000);
  position: absolute;
  inset: 0;
  transition: 0.5s;
  animation-name: out;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.content-button {
  inline-size: clamp(306px, 80%, 335px);
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button__text {
  position: relative;
  z-index: 2;
  font-family: var(--accent-font, "PressStert2P", sans-serif);
  transition: 0.5s;
  font-size: 14px;
  margin-block: 10px;
  mix-blend-mode: difference;
  color: var(--main-color, #fff);
}

.core {
  transition: fill 0.3s 0.03s;
  fill: transparent;
  stroke: transparent;
}

.main-body {
  transition: fill 0.3s;
  fill: transparent;
}

.sparks {
  opacity: 0;
}

.dialog-button-img {
  position: relative;
  z-index: 2;
  inline-size: 33px;
  background-size: contain;
  margin-block-start: 15px;
  mix-blend-mode: difference;
  filter: invert(100%);
}

.dialog-img {
  inline-size: 100px;
}

.dialog {
  inline-size: 341px;
  padding: 25px 40px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog[open] .dialog-info {
  display: flex;
  gap: 10px;
}

.dialog-text {
  grid-column-start: 2;
  font-family: var(--accent-font, "PressStert2P", sans-serif);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.8em;
}

.dialog-button {
  inline-size: 100%;
  margin-block-start: 20px;
  padding-block: 10px;
}

.filter-brightness-blur {
  filter: brightness(80%) blur(1.5px);
}

.filter-contrast {
  filter: contrast(1.4);
}

.filter-blur {
  filter: blur(1.7px);
}

.filter-grayscale {
  filter: grayscale(0.9);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-hue-rotate {
  filter: hue-rotate(320deg);
}

.filter-sepia {
  filter: sepia(40%);
}

@media (width < 375px) {
  .header-title-strong {
      font-size: 40px;
  }

  .dialog-text {
      font-size: 12px;
  }
}

@media (width > 700px) {
  .content-button {
      flex-direction: row;
      gap: 5px;
      padding: 10px;
  }

  .dialog-button-img {
      margin-block-start: 0;
      inline-size: 21px;
  }

  .dialog {
      inline-size: 353px;
  }
}



